body {
  margin: 0 !important;
}
div {
  height: auto;
  min-height: 0px;
}
#root {
  width: 100%;
  /* max-width: 1280px; */
  margin: 0 auto;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

div:has(> img.me3) {
  display: none;
}
div.projects-grid {
  width: auto;
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr) ;
  gap: 20px;  
}
div.contact-grid{
    
  display: grid;
  grid-template-columns: repeat(3,1fr)!important;
  gap: 20px;  
  }
@media (min-width: 768px) {
  .about-section {
    margin-left: 50px;
    transform: translateX(0) !important;
  }
  div:has(> img.me3) {
    display: block;
  }
  
}
@media (max-width: 768px){
  div.projects-grid {
    grid-template-columns: repeat(1, 1fr) !important;
  }
  
}
@media (max-width: 768px){
div.contact-grid{
    grid-template-columns: repeat(1, 1fr) !important;
    gap:20px;
  }
}